<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Mission</title>

  <!-- Favicons -->
  <link href="img/hopegivers.png" rel="icon">
  <link href="img/hopegivers.png" rel="apple-touch-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
  <style type="text/css">
    .card {
      /*padding-bottom: 10px;*/
      margin-bottom: 20px;
    }
  </style>
</head>

<body>
  <%- include('partials/header') %>
  <%- include('partials/loader') %>
  <div class="jumbotron text-light" style="background-color: #34317A;">
    <div class="text-center">
      <h1>Our Missions</h1>
    </div>

  </div>

  <div class="container mt-4">
    <div class="row">
      <% foundMissions.forEach(element =>{ %>
      <div class="col-md-4">
        <div class="card">
          <img src="<%= element.image %>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-dark text-center project-title"><%= element.title %></h5>
            <p class="card-text text-dark"><%= element.description %></p>
            <div class="text-center">
              <a href="donations" class="btn btn-danger">Donate Now</a>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>

  <div class="mb-5">

  </div>

  <%- include('partials/footer') %>
</body>

</html>