<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">

  <!-- Favicons -->
  <link href="img/hopegivers.png" rel="icon">
  <link href="img/hopegivers.png" rel="apple-touch-icon">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap Link -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style type="text/css">
    h1 {
      margin: auto;
      text-align: center;
    }
  </style>

</head>

<body>

  <%- include('partials/header') %>
  <%- include('partials/loader') %>

  <div class="jumbotron mt-3 text-light mx-3" style="background-color: #34317A; ">
    <div class="text-center">
      <h1>Thanks for Helping Us</h1>
    </div>

  </div>

  <div class="container-fluid container-md mt-4 table-responsive table-hover">
    <table class="table table-design">
      <!-- Name of the columns in the table -->
      <thead class="thead">
        <tr class="thead-font">
          <th scope="col-1">SN.</th>
          <th scope="col-9">Amount</th>
          <th scope="col-9">Cloth Type</th>
          <th scope="col-9">Cloth Gender</th>
          <th scope="col-1" class="pl-4">Date</th>
        </tr>
      </thead>
      <tbody>

        <!-- body which will be fetched from the database with the action buttons -->
        <% var serial_no = 1 %>
        <% history.forEach(element =>{ %>
        <tr>
          <td><%= serial_no %></td>
          <td><%= element.amount %></td>
          <td><%= element.cloth_type %></td>
          <td><%= element.cloth_gender %></td>
          <td><%= element.date %></td>
        </tr>
        <% serial_no += 1 %>
        <% }); %>
      </tbody>
    </table>
  </div>


  <!-- BootStrap Links -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>